// Font stacks.
$serif:   "Computer Modern Serif", Georgia, serif;
$mono:    "Computer Modern Typewriter", Menlo, Consolas, Monaco, monospace;
$sans:     "Computer Modern Sans", sans-serif;
$condensed: "Computer Modern Sans Demi-Condensed", sans-serif;

// The main intense primary accent color.
$primary:       hsl(200, 80%, 40%);
$primary-dark:  hsl(200, 100%, 20%);
$primary-light: hsl(200, 70%, 60%);

// A ramp of washed out blues from dark to light.
$dark:    hsl(215, 20%, 20%);
$gray-30: hsl(212, 23%, 30%);
$gray-40: hsl(209, 26%, 40%);
$gray-50: hsl(206, 30%, 50%);
$gray-60: hsl(203, 30%, 60%);
$light:   hsl(195, 30%, 90%);
$lighter: hsl(195, 35%, 95%);

// An opposing warm light color (code background).
$warm-dark:  hsl(40, 0%, 35%);
$warm-light: hsl(40, 30%, 97%);
$warm-40:    mix($warm-light, $warm-dark, 40%);
$warm-60:    mix($warm-light, $warm-dark, 60%);
$warm-80:    mix($warm-light, $warm-dark, 80%);
$warm-95:    hsl(40, 20%, 95%);


// The full-size design is 28 units wide, in three columns:
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][]
//   (   5    )    (          12          )  (    6     )
// They are asymmetric because the left column has a dark background, which
// requires a double margin.
$col: 48px;

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-roman.woff') format('woff');
}

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-semibolditalic.woff') format('woff');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-bolditalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}

// new fonts
// cmu-serif
@font-face {
	font-family: 'Computer Modern Serif';
	src:  url('/fonts/cmu-serif/cmunrm.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/fonts/cmu-serif/cmunbx.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src:  url('/fonts/cmu-serif/cmunti.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/fonts/cmu-serif/cmunbi.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

//CMU Bright
@font-face {
	font-family: 'Computer Modern Bright';
	src: url('/fonts/cmu-bright/cmunbmr.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src: url('/fonts/cmu-bright/cmunbbx.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src: url('/fonts/cmu-bright/cmunbmo.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src:  url('/fonts/cmu-bright/cmunbxo.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Bright Semibold';
	src: url('/fonts/cmu-bright/cmunbsr.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Bright Semibold';
	src: url('/fonts/cmu-bright/cmunbso.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

//cmu-typewriter
@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('/fonts/cmu-typewriter/cmuntt.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('/fonts/cmu-typewriter/cmuntb.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('/fonts/cmu-typewriter/cmunit.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('/fonts/cmu-typewriter/cmuntx.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Typewriter Light';
	src: url('/fonts/cmu-typewriter/cmunbtl.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter Light';
	src: url('/fonts/cmu-typewriter/cmunbto.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Typewriter Variable';
	src: url('/fonts/cmu-typewriter/cmunvt.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter Variable';
	src: url('/fonts/cmu-typewriter/cmunvi.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

// cmu - concrete
@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('/fonts/cmu-concrete/cmunorm.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('/fonts/cmu-concrete/cmunobx.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('/fonts/cmu-concrete/cmunoti.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('/fonts/cmu-concrete/cmunobi.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

// cmu - sans-serif

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/fonts/cmu-sans-serif/cmunss.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/fonts/cmu-sans-serif/cmunsx.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/fonts/cmu-sans-serif/cmunsi.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/fonts/cmu-sans-serif/cmunso.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Sans Demi-Condensed';
	src: url('/fonts/cmu-sans-serif/cmunssdc.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// source code pro
@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-Medium.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-MediumIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/sourcecodepro/SourceCodePro-BlackIt.otf.woff') format('woff');
}



// Reset stuff.

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

img {
  outline: none;
}

img.arrow {
  width: auto;
  height: 11px;
}

img.dot {
  width: auto;
  height: 18px;
  vertical-align: text-bottom;
}

// Basic styles.

body {
  color: #222;
  font: normal 18px/24px $serif;
}
