{{ define "main" }}
<main aria-role="main">
  <div class="main-content">
    {{ if or .Title .Content }}
    <div>
      {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
      {{ with .Content }}<div>{{ . }}</div>{{ end }}
    </div>
    {{ end }}

    {{ range .Paginator.Pages.ByParam "series_weight" }}
    {{ .Render "seriessummary" }}
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>		
</main>
{{ end }}

