<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <!-- Styles -->
    <!-- Use Hugo Pipes to process the Sass file (convert to CSS, minify, and add a hash) -->
    {{ $main_style := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $main_style.Permalink }}"/>
    <!-- <link rel="stylesheet" href="{{ "css/style.css" | relURL }}"> -->
    {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{- end }}
    <!-- JavaScript -->
    <!-- Use Hugo Pipes for JS -->
    {{ $feather := resources.Get "js/feather.min.js"  | fingerprint }}
    <script src="{{ $feather.Permalink }}"></script>
    {{ $jquery := resources.Get "js/jquery-3.4.1.min.js"  | fingerprint }}
    <script src="{{ $jquery.Permalink }}"></script>
    {{ $js := resources.Get "js/asides.js"  | fingerprint }}
    <script src="{{ $js.Permalink }}"></script>
  </head>
  <body id="top">
    <!-- <div class="scrim"></div> -->
    <nav class="wide">
      <div class="contents">
        {{ partial "avatar" . }}
        {{ partial "nav-main" . }}
      </div>
    </nav>
    <nav class="narrow">
      <p> narrow view navigation </p>
    </nav>
    <div class="page">
      <div class="nav-wrapper">
	<nav class="floating">
	  <p>floating navigation</p>
	  <div class="expandable">
            {{ partial "nav-main" . }}
	  </div>
	  <a id="expand-nav">≡</a>
	</nav>
      </div>
      {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer" . }}
  </body>
</html>
