{{ define "main" }}
<main aria-role="main">
  <div class="main-content">  
    {{ if or .Title .Content }}
    <header>
      {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
      {{ with .Content }}<div>{{ . }}</div>{{ end }}
    </header>
    {{ end }}
    <div>
    {{ range .Paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
    {{ partial "pagination.html" . }}
    </div>
  </div>
</main>
{{ end }}
