<article>
  <h1><a href="{{ .Permalink }}"><span name="{{ . | urlize }}-meta"> {{ .Title }}</span></a></h1>
  {{ partial "post-meta" . }}
  <div>
    {{ .Summary }}
    {{ if .Truncated }}
    <a href="{{ .Permalink }}">Continue reading...</a>
    {{ end }}
  </div>
</article>
<pre></pre>
