{{ define "main" }}
<main>
  <div class="main-content">
    <article>
      <header class="article-header">
	<h1><span name="{{ . | urlize }}-meta">{{ .Title }}</span></h1>
		{{ partial "post-meta" . }}
      </header>
      <div class="article-content">
	  {{ .Content }}
      </div>
      {{ if .Params.series }}
	  {{ partial "prevnext-in-series.html" . }}
      {{ end }}
      {{ with .Site.Config.Services.Disqus.Shortname }}
	  <div>
	      {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    </article>
  </div>
</main>
{{ end }}
