@import 'sass/shared';

// Make sure we don't split on the thin spaces around an em dash.
.emdash {
  white-space: nowrap;
}

.scrim {
  position: absolute;
  width: 100%;
  height: 10000px;

  z-index: 4;

  // background: url('columns.png');
  background: url('rows.png');
}


a {
  color: $primary;
  text-decoration: none;

  border-bottom: solid 1px transparentize($light, 1.0);

  transition: color 0.2s ease,
              border-color 0.4s ease;
}

a:hover {
  color: $primary;
  border-bottom: solid 1px opacify($light, 1.0);
}

nav {
  font: 300 15px/24px $sans;
  background: $dark;
  color: $gray-40;

  a, h2 a {
    color: $gray-60;
    text-decoration: none;
    border-bottom: none;
  }

  a:hover {
    color: $light;
    text-decoration: none;
    border-bottom: none;
  }

  img {
    box-sizing: border-box;
    width: 100%;
    //padding: 110px $col 23px $col;

    &.app-header-avatar {
	    //	  clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
	    border-radius: 50%;
	    border: solid 5px $gray-50;
    }
  
  }
  
  
  h2 {
    font: 400 16px/24px $sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray-60;
  }

  h3 {
    font: 400 18px/24px $sans;
    color: $gray-60;
  }

  h2 small, h3 small {
    float: right;
    font-size: 16px;
    color: $gray-40;
  }

  ol, ul {
    margin: 6px 0 3px 0;
    padding: 6px 0 4px 24px;
    border-top: solid 1px $gray-30;
    border-bottom: solid 1px $gray-30;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li small {
    float: right;
    font-size: 14px;
    color: $gray-40;
  }

  li.divider {
    margin: 5px 0 7px 0;
    border-top: solid 1px $gray-30;
  }

  li.end-part {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;

    small {
      font-weight: 300;
      text-transform: none;
      letter-spacing: 0;
    }
  }

  .prev-next {
    padding-top: 7px;
    font: 400 12px/18px $sans;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

nav.wide {
  position: fixed;
  width: $col * 7;
  height: 100%;

  .contents {
    margin: 24px $col;
  }
}

// This is needed to make the nav fixed (not scrolling with the content) but
// still positioned horizontally based on the page.
// See: http://stackoverflow.com/a/11833892/9457
.nav-wrapper {
  position: absolute;
  right: $col * 6;
}

// For medium-sized screens, the navigation floats over the same column as the
// asides.
nav.floating {
  // Only shown on narrower screens.
  display: none;

  z-index: 2;
  position: absolute;
  width: $col * 6;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  #expand-nav {
    padding: 0 0 4px 0;
    display: block;
    font-size: 20px;
    text-align: center;
    color: $gray-40;
    cursor: pointer;

    transition: padding 0.2s ease,
                margin 0.2s ease,
                color 0.2s ease;
  }

  #expand-nav, #expand-nav:hover {
    border-bottom: none;
  }

  #expand-nav:hover {
    color: $light;
  }

  .expandable {
    overflow: hidden;
    padding: 0 12px;

    // Using max-height instead of height to allow the list to navigation to
    // automatically choose its height based on the size of the list while
    // still transitioning.
    // See: http://stackoverflow.com/a/8331169/9457
    max-height: 0;
    transition: margin 0.2s ease,
                max-height 1.0s ease;

    .prev-next {
      padding-bottom: 6px;
    }
  }

  .expandable.shown {
    // This should be as small as possible while still being large enough for
    // the worst case chapter.
    max-height: 550px;
  }

  img {
    padding: 110px $col/2 23px $col/2;
  }
}

nav.floating.pinned {
  position: fixed;

  top: -85px;

  .expandable {
    margin-top: -13px;
  }

  #expand-nav {
    margin-top: -14px;
  }
}

nav.narrow {
  display: none;

  text-align: center;

  img {
    box-sizing: content-box;
    padding: 11px 0 3px 0;
    width: auto;
    height: 27px;
  }

  .prev, .next {
    font-size: 32px;
    position: absolute;
    top: 12px;
    padding: 0 $col;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

div.centre {
	text-align: center;
}

.page {
  position: relative;

  width: $col * 19;
  margin: 0 auto 0 $col * 8;
}

// Make em dashes look pretty. Goals:
//
// - Add a tiny bit of space on either side. Completely unspaced em dashes
// n  look too tight to me.
// - Allow an em dash at the end of a line.
// - Prevent an em dash at the beginning of a line.
//
// Wrapping each `&mdash;` in a span with this class and consuming the
// preceding whitespace seems to accomplish that.
.em {
  padding: 0 .1em;
  white-space: nowrap;
}

code {
  font: normal 16px $mono;
  padding: 2px;
}

a code {
  color: $primary;
}

.highlight{
	
  pre {
    font: normal 13px/20px $mono;
    margin: 0;
    padding: .5em;
    overflow: scroll;
    white-space: pre;
    hyphens: none;
    position: relative;
    background-color: inherit;
    color: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: $light;

    // for users without js all pre code elements will expand
    &:hover {
	    margin-right: -30vw;
	    max-width: 100vw;
    }
    
    // for uses with js, hover attributes removed and this is applied if needed
    &.expand {
	    margin-right: -30vw;
	    max-width: 100vw;
    }

    &.nohover:hover {
	    margin-right: 0;
	    max-width: inherit;
    }

  }
}

.article-meta {
    font: normal 12px/10px $condensed;
    text-transform: uppercase;

    .post-meta-data {
	display: table;
	width: 100%
    }

    .post-meta-item {
	display: table-row;
	width: 100%;
    }

    .post-meta-key,
    .post-meta-value {
	display: table-cell;
	padding-bottom: 5px;
	border-bottom: solid 2px $light;
    }
    
    .post-meta-key {
	width: 9em;
    }

    .post-meta-value {

	ul {
	    list-style-type: none;
	    padding: 0;
	    margin: 0;
	}
	
	li {
	    margin-bottom: 3px;
	    padding: 0;
	}
    }

}



.main-content {
  position: relative;
  width: $col * 12;

  h1 {
    font: 42px/42px $serif;
    padding: 60px 0 20px 0;
  }

  h2 {
	  font: 28px/28px $sans;
	  padding: 30px 0 20px 0;
  }

  p {
	  margin: 24px 0;

	  code {
		  background: $light;
		  padding-left: 5px;
		  padding-right:5px;
	  }
  }

  ol, ul {
    margin: 24px 0;
    padding: 0 0 0 24px;
  }

  img {
    max-width: 100%;
  }

  img.wide {
    max-width: none;
    width: $col * 19;
  }
}

aside {
  position: absolute;
  right: -$col * 7;
  width: $col * 6;

  font: normal 14px/20px $serif;

  border-top: solid 2px $light;

  padding-top: 10px;

  hr {
	    border: solid 1px $light;
  }
  
  p {
    margin: 20px 0;
  }

  p:first-child {
    margin-top: 4px;
  }

  p:last-child {
    margin-bottom: 4px;
  }

  code {
    font-size: 14px;
    border-radius: 2px;
    padding: 1px 2px;
  }

  img.above {
    position: absolute;
    bottom: 100%;
    margin-bottom: 16px;
  }

  blockquote {
    margin: 20px 0;

    &::before, &::after {
      content: none;
    }

    p {
      margin: 0 12px;
      font: italic 15px/20px $serif;
      color: inherit;
    }
  }
}

// Sometimes there isn't room to hang the aside *down* next to the content it's
// annotating, so support asides where the bottom is aligned with the content.
aside.bottom {
  border-top: none;
  border-bottom: solid 1px $light;
}

.feather{
       width: 14px;
       height: 14px;
       margin-right: 4px;
       stroke: $primary-light;
       stroke-width: 2;
       stroke-linecap: round;
       stroke-linejoin: round;
       fill: none;
}

div.prevnext {
	font: normal 14px/20px $condensed;
	text-transform: uppercase;
	border-top: solid 2px $light;
	border-bottom: solid 2px $light;
	padding: 20px 0;
}

blockquote {
  position: relative;

  margin: 29px 0 31px 0;

  &::before, &::after {
    position: absolute;
    top: -20px;
    font: italic 72px $serif;
    color: $light;
  }

  &::before {
    content: "\201c";
    left: -7px;
  }

  &::after {
    content: "\201d";
    right: 8px;
  }

  p {
    margin: 0 $col;
    font: italic 24px/36px $serif;
    color: $gray-50;
  }

  cite {
    display: block;
    text-align: right;
    color: $gray-60;
    font-style: normal;
    font-size: 18px;

    &::before {
      content: "\2014\00a0";
      color: $light;
    }
  }
}

footer {
  position: relative;
  color: $gray-60;
  font: 400 15px $sans;
  text-align: center;
  margin: 48px 0;
  padding-top: 48px;

  a, a:hover {
    border: none;
  }

  .next {
    position: absolute;
    right: 0;
    top: -13px;

    padding-left: 4px;
    background: #fff;

    font: 400 17px/24px $sans;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .next:hover {
    color: $primary-dark;
    border: none;
  }
}

.source-file, .source-file-narrow {
  font: normal 11px/16px $mono;
  color: $warm-60;

  em {
    color: $warm-40;
    font-style: normal;
  }
}

.source-file-narrow {
  // Don't show unless in single-column.
  display: none;

  margin: 0px -12px 0 0;
  padding: 14px 0 0 0;
  text-align: right;
}

.source-file {
  position: absolute;
  right: -$col * 7;
  width: $col * 6;
  padding: 2px 0 0 0;

  &::before {
    content: "<<";
    color: $warm-80;
    position: absolute;
    left: -($col - 12px);
    width: $col - 12px;
    text-align: center;
  }
}

// On a not-entirely-large screen, don't show the fixed nav on the left.
@media only screen and (max-width: 1344px) {
  nav.wide { display: none; }
  nav.floating { display: block; }

  body {
    margin: 0 24px;
  }

  .page {
    position: relative;
    width: inherit;
    max-width: $col * 19;
    margin: 0 auto;
  }

  .main-content {
    width: inherit;
    margin-right: $col * 7;
    padding-top: 40px;

    h1 {
      padding: 40px 0 18px 0;
      font-size: 38px;
    }

    
    h2 {
	    font-size: 22px;
	    padding: 20px 0 20px 0;
    }

  }
}

// Tablets and mobile go single column.
@media only screen and (max-width: $col * 20) {
  body {
    margin: 0;
  }

  .page {
    max-width: $col * 12;
  }

  nav.floating {
    display: none;
  }

  nav.narrow {
    display: block;
  }

  .page {
    margin: 0 $col;
    width: inherit;
  }

  .main-content {
	  margin: 0;

    // Size wide images to fit inside the column again.
    img.wide {
      width: inherit;
      max-width: 100%;
    }
  }

  aside {
    position: inherit;
    right: inherit;
    width: inherit;

    border-bottom: solid 1px $light;

    hr {
	    border: none;
    }
    
    p:first-child {
      margin-top: 8px;
    }

    p:last-child {
      margin-bottom: 8px;
    }

    // Make sure aside images don't get too big when the asides are inlined
    // in single column mode.
    img {
      display: block;
      max-width: $col * 6;
      margin: 0 auto;
    }

    img.above {
      position: relative;
    }
  }

  // If aside is right before a code block (when the asides are inline), make
  // sure they don't overlap.
  aside + div.codehilite {
    margin-top: 12px;
  }

  div.codehilite + aside {
    margin-top: 24px;
  }
  .source-file {
    display: none;
  }

  .source-file-narrow {
    display: block;
  }
}

// Then bring the margins in some.
// The cut-off sizes here are based on trying to get 72 columns of code to fit.
@media only screen and (max-width: 630px) {
  .page {
    margin: 0 $col / 2;
    width: inherit;
  }

  nav.narrow {
    .prev, .next {
      padding: 0 $col / 2;
    }
  }
}

// Finally, shrink the grid to 22px and shrink the text.
@media only screen and (max-width: 580px) {
  body {
    font-size: 15px;
    line-height: 22px;
  }

  .scrim {
    background: url('rows-22.png');
  }

  nav.narrow {
    img {
      padding: 9px 0 1px 0;
      height: 27px;
    }

    .prev, .next {
      top: 11px;
    }
  }

  .main-content {
    h1 {
      font-size: 30px;
      padding: 10px 0 14px 0;
    }
    
    h2 {
      font-size: 18px;
      padding: 18px 0 14px 0;
    }

    p {
      margin: 22px 0;
    }

    ol, ul {
      margin: 22px 0;
      padding: 0 0 0 22px;
    }
  }

  blockquote {
    margin: 27px 0 28px 0;

    &::before, &::after {
      top: -17px;
      font-size: 52px;
    }

    p {
      margin: 0 22px;
      font-size: 20px;
      line-height: 33px;
    }
  }

  footer {
    .next {
      font-size: 15px;
    }
  }
}
