<div class="post-meta-key"><i data-feather="layers"></i>Part {{ .Params.series_weight }} of
  {{ $.Site.Taxonomies.series.Count (cast.ToString .Params.series) }} in:</div>
{{ with $.Site.GetPage (printf "/series/%s" (urlize .Params.series)) }}
<div class="post-meta-value"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></div>
{{ end}}
