<aside name="{{ . | urlize }}-meta" class="article-meta">
  <div class="post-meta-data">
  {{ if .Params.series  }}
  <div class="post-meta-item">
    {{ partial "position-in-series.html" . }}
  </div>
  {{ end }}
  
  <div class="post-meta-item">
    <div class="post-meta-key"><i data-feather="calendar"></i>Published On:</div>
    <div class="post-meta-value"><time>{{ .Date.Format "02/01/2006" }}</time></div>
  </div>
  <div class="post-meta-item">  
    <div class="post-meta-key"><i data-feather="clock"></i>Reading Time:</div>
       <div class="post-meta-value">{{ .ReadingTime }} mins</div>
  </div>    
  {{ if .Params.categories }}
  <div class="post-meta-item">      
    <div class="post-meta-key"><i data-feather="folder"></i>Categories:</div>
    {{ range .Params.categories }}
    <div class="post-meta-value"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></div>
    {{ end }}
  </div>	
  {{ end }}

  {{ if .Params.tags }}
    <div class="post-meta-item">  
      <div class="post-meta-key"><i data-feather="tag"></i>Tags:</div>
      <div class="post-meta-value">
	<ul>
      {{ range .Params.tags }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
	{{ end }}
	</ul>
      </div>
  </div>      
    {{ end }}
  </div>
</aside>
