{{ $thispage := . }}
{{ $series := $.Site.Taxonomies.series.Get (urlize .Params.series) }}

{{ range $index, $page := $series.Pages }}
    {{ if eq $page $thispage }}
	{{ $.Scratch.Set "previous_page" ($.Scratch.Get "previous_pointer") }}
    {{ end }}
    {{ if eq ($.Scratch.Get "previous_pointer") $thispage }}
        {{ if ne $thispage $page }}
          {{ $.Scratch.Set "next_page" $page }}
        {{ end }}
    {{ end }}
    {{ $.Scratch.Set "previous_pointer" $page }}
{{ end }}

<div class="prevnext">
    <div class="centre">
	{{ partial "position-in-series.html" . }}
    </div>
    {{ with $.Scratch.Get "previous_page" }}
	<a href="{{.RelPermalink}}" class="left"><i data-feather="chevrons-left"></i> Previous</a>
    {{ end }}
    {{ with $.Scratch.Get "next_page" }}
	<a href="{{.RelPermalink}}" class="right">Next <i data-feather="chevrons-right"></i></a>
    {{ end }}
</div>
