      {{ with .Params.tags }}
      <div>
	<ul id="tags">
	  {{ range . }}
	  <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
	  {{ end }}
	</ul>
      </div>
      {{ end }}
