{{ define "main" }}
<main aria-role="main">
  <div class="main-content">  
    <header>
      <h1>{{.Title}}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle">{{.}}</span>
      {{ end }}
    </header>
    <div>
      {{.Content}}
    </div>
    <div>
      {{ range first 10 .Site.RegularPages }}
	  {{ .Render "summary"}}
      {{ end }}
    </div>
  </div>
</main>
{{ end }}
